<form action="">
    <div class="mb-6">
        <label for="Temp" class="block mb-2 text-sm font-medium text-gray-300">Temperature
            (K)</label>
        <input type="number" id="Temp"
            class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            placeholder="Temp (K)" required="">
    </div>


    <label for="material" class="block mb-2 text-sm font-medium text-gray-400">Select a
        material</label>
    <select id="material"
        class="border text-sm rounded-lg block w-full p-2.5 border-gray-600 placeholder-gray-400 bg-gray-700 text-white focus:ring-blue-500 focus:border-blue-500">
        <option>Air</option>
        <option>Water</option>
        <option>Steam</option>
    </select>
    <button type="button" id="submitButton" onclick="getData()"
        class="text-white focus:ring-4 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 my-5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Submit</button>
</form>